<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite de pruebas" thread-count="1" parallel="tests">

    <test name="Test Get Single Object">
        <classes>
            <class name="tests.apiPublica.GetSingleObjects"> </class>
        </classes>
    </test>



    <test name="Test Get Objects">

        <classes>
            <class name="tests.apiPublica.GetObjects"> </class>
        </classes>
    </test>



    <test name="Test create Object">
        <classes>
            <class name="tests.apiPublica.CreateObject"> </class>
        </classes>
    </test>

    <test name="Test update Object">
        <classes>
            <class name="tests.apiPublica.UpdateObject"> </class>
        </classes>
    </test>

    <test name="Test Update Partially Object">
        <classes>
            <class name="tests.apiPublica.UpdatePartiallyObject"> </class>
        </classes>
    </test>

    <test name="Test Update Borrar Object">
        <classes>
            <class name="tests.apiPublica.DeleteObject"> </class>
        </classes>
    </test>


</suite>